@model List<CoderGirl_MVCMovies.Models.MovieRating>
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<a id ="add-movierating" asp-controller="MovieRating" asp-action="Create">Rate A Movie</a>
<table>
    <tr>
        <th>Movie</th><th>Rating</th>
    </tr>
    @foreach(var movieRating in Model)
    {
        <tr>
            <td>@movieRating.Key</td><td>@movieRating.Value</td>
        </tr>
    }
</table>
