
@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>
<a asp-controller="MovieRating" asp-action="Create">Add</a>
<table>
    <tr>
        <th>Movie</th>
        <th>Rating</th>
    </tr>

    @foreach (var movieRating in ViewBag.MovieRatings)
    {
        <tr>
            <td id = "@movieRating.Key">@movieRating.Key</td>
            <td>@movieRating.Value</td>
        </tr>
    }
</table>

